/* BEGINNING OF STYLING FOR PUBLICATIONS: */

.yearControl {
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.yearControl:hover {
    background-color: #eeeeee;
}

.headerYear {
    user-select: none;
    padding-right: 15px;
}

.collapse {
    user-select: none;
}

.pubsOfYear.hideMe {
    visibility: hidden;
    height: 0;
}

.pubsOfYear.showMe {
    visibility: visible;
    height: auto;
}

.pubBtn {
    color: black;
    border: none;
    outline: none;
    padding: 3px 10px 3px;
    background-color: white;
    cursor: pointer;
}

.pubBtn:hover {
    background-color: #ddd;
}

.selectionBox {
    background-color: #990000;
    color: white;
    border: none;
    margin-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.authorName.chosen {
    font-weight: bold;
}

.mlsmAuthor:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pubButtons * {
    margin-top: 2px;
}

.pubYear.showMe {
    display: block;
    padding-bottom: 15px;
}

.pubDetails.showMe {
    display: block;
    padding-bottom: 25px;
}

.publications .hideMe {
    display: none;
}

.mlsmAuthor {
    color: #990000;
    font-style: italic;
}

.pubButtons {
    margin-top: 5px;
}

.pubSepBelowButtons {
    border-bottom-style: solid;
    margin: 11px 0;
    border-width: 1px;
    border-color: #990000;
    /*style="margin:15px 0;border-width:1px;border-color:#990000"*/
}

.pubVerticalSeparator {
    margin-left: 5px;
    margin-right: 5px;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: #990000;
    height: 20px;
}

.pub-su-divider {
    clear: both;
    border: none;
    text-align: right;
    line-height: 1;
    margin: 5px 0;
    border-width: 3px;
    border-color: #990000;
}

.pub-su-divider a {
    color: #990000;
    display: inline-block;
    font-size: .8em;
    text-decoration: none;
    outline: none;
    padding-bottom: 5px;
}

.pub-su-divider-style-default {
    border-bottom-style: solid;
}

.pub-su-divider-style-dotted {
    border-bottom-style: dotted;
}

.pub-su-divider-style-dashed {
    border-bottom-style: dashed;
}

.pub-su-divider-style-double {
    border-bottom-style: double;
}

.pubTypeSelection img {
    height: 42px;
    width: 42px;
}

.publications .yearsep {
    margin: 15px 0;
    border-width: 2px;
    border-color: #990000;
    background-color: #990000;
    height: 2px;
}

.publications .pubimg {
    height: 20px;
    width: 20px;
}

.publications .headerYear {
    font-size: 300%;
    /* 	line-height: 100%; */
}

.publications .pubTitle {
    color: black;
    font-weight: 500;
}

/* END OF STYLING FOR PUBLICATIONS: */
